
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.input1{
    height: 70%;
    width:60%;
    background-color: rgba(79, 82, 79, 0.562);
    margin-left:250px;
    margin-top: 100px;
}
.input1 h1{
    margin-left: 250px;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(34, 34, 48);
    padding-top:30px;

}
.box-in{
    margin-left:70px;
    margin-top: 30px;
}

input{
    height:40px;
    width:60%;
    text-align: center;
    font-size: 15px;
    color:grey;
    border: none;
    border-radius:6px;
}
button{
    height: 40px;
    width:15%;
    color:white;
    background-color: rgb(245, 9, 9);
    font-size: 15px;
    border: none;
    border-radius:6px;

}
ul{
    list-style-type: none;
    padding-top:20;
}
li{
    margin: 10px 0;
}
button.delete {
    margin-left: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    }
